.milk-container {
  text-align: center;
  padding: 20px;
}

.milk-title {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ff4444;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.milk-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 10px;
}

.milk-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.milk-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.milk-card img {
  width: 180px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.milk-card h3 {
  font-size: 18px;
  margin-top: 10px;
}

.milk-card p {
  font-size: 16px;
  color: rgb(128, 83, 0);
  font-weight: bold;
}

.milk-card button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.milk-card button:hover {
  background-color: #8644ff;
}

/* Description */
.milk-desc {
  font-size: 14px;
  color: #555;
  margin-top: -5px;
  margin-bottom: 8px;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 5px;
  padding: 8px 12px;
  background: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination .active {
  background: #ff4444;
  color: white;
}

/* Popup Top */
.popup-top {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #920d5b;
  color: white;
  padding: 20px 35px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 15px 20px rgba(0,0,0,0.2);
  z-index: 9999;
  animation: fadeInOut 1.2s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(-50%) translateY(-20px); }
  20% { opacity: 1; transform: translateX(-50%) translateY(0); }
  80% { opacity: 1; }
  100% { opacity: 0; transform: translateX(-50%) translateY(-20px); }
}
